@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white: #ffffff;
    --primaryskyblue: #2F80ED;
    --grey2: #4F4F4F;
    --BLACK: #2B2F34;
    --textlabelcolorscharcoal: #595959;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'ABeeZee', sans-serif; */
    background-color: var(--white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header Styling  */

.logo-text {
    color: #012555;
    font-family: Bai Jamjuree;
    font-size: 21.714px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.869px;
}

header {
    position: sticky;
    top: 0;

    width: 100%;
    /* height: 15vh; */
    display: flex;
    flex-direction: column;

    background-color: white;
}

.upper-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 15px 108px;
}

.logo {
    display: flex;
    gap: 10px;

    /* padding: 15px; */
}

.logo hr {
    /* height: 32px; */
    background-color: #DADADA;
}

.logo1 {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


.nsdc-logo {
    height: 35px;
}

/* Navbar CSS */

.navbar {
    /* padding: 15px; */
    display: flex;
    /* padding: 15px 36px;
    justify-content: center;
    align-items: center; */
}

.navbar ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login-btn {

    display: flex;
    padding: 15px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 20px;

    border-radius: 8px;
    border: 2px solid var(--primaryskyblue, #2F80ED);

    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);

    color: var(--blue);
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* Next batch starts in */
.banner {
    background-color: var(--primaryskyblue);
}

.banner p {
    color: #FFF;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    letter-spacing: 0.28px;

    padding: 5px;
    text-align: center;
}

/* Hero Section */

main {

    /* flex-shrink: 0; */
}

.hero {
    /* width: 1440px; */
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* gap: 35px; */
}


/* Left Side */

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head1 {
    color: var(--BLACK, #2B2F34);
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 65px */
    letter-spacing: -0.75px;
}

.head2 {
    color: var(--primaryskyblue, #2F80ED);
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 65px */
    letter-spacing: -0.75px;
}

.head3 {
    color: var(--BLACK, #2B2F34);
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.75px;
}

.head4 {
    color: var(--textlabelcolorscharcoal, #595959);
    font-family: fantasy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.36px;
}

.head-icons {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 77px;
    padding: 15px 20px;
    /* align-items: flex-end; */
    gap: 34px;

    border-radius: 8px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}

.main-icon {
    display: flex;
    gap: 20px;
}

.main-icon-title {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.icon-title {
    color: var(--BLACK, #2B2F34);
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 26px */
}

.icon-title-small {
    color: var(--grey2);
    /* font-family: ?????; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 18.6px */
    letter-spacing: 0.12px;
}

.made-with-love {

    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 23px;
    background: #FFF;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
}

.made-with-love p {


    color: #525252;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    /* padding: 10px; */
    /* 21px */
}

/* right side */

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.login-page-heading h1 {
    color: var(--BLACK, #2B2F34);
    text-align: center;
    font-family: ABeeZee;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 48px */
    letter-spacing: -0.48px;
}

.login-page-heading p {
    color: #818D9D;
    text-align: center;
    /* font-family: ?????; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.student-details {
    display: flex;
    width: 366px;
    padding: 14px 6px 14px 10px;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #FAFAFA;
}

.apply-now-btn {

    color: var(--WHITE, #FFF);
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 27px */

    display: flex;
    width: 367px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 8px;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
}

.timepass {
    font-size: 13px;
}

/* Placements Page */

.placements {
    height: 750px;
    border: 1px solid red;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between
}

.p1 {
    color: var(--BLACK, #2B2F34);
    text-align: center;
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 63px */
    letter-spacing: -0.63px;
}

.p2 {
    color: var(--primaryskyblue, #2F80ED);
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.63px;
    text-align: center;
}

.p0 {
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;

    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p4 {
    color: var(--textlabelcolorscharcoal, #595959);
    /* font-family: ?????; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.36px;
    text-align: center;
}

.placements-title {
    padding: 50px 0px;
}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 10px 80px;
}

.companies img {
    height: 32px;
}

.placement-report {

    display: flex;
    width: 276px;
    padding: 14px 6px 14px 16px;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 8px;
    background: var(--primaryskyblue, #2F80ED);

    color: var(--WHITE, #FFF);
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 27px */

    /* align-self: center; */
}

.placement-report:hover {
    cursor: pointer;
}

.placement-report img {
    /* height: 22px; */
}

.placement-button {
    padding: 70px;
}









/* Alumni */

.alumni {
    height: 750px;
}

.alumni-container {}

.container1 {}

.card-container {}

.card-container img {
    height: 64px;
}

.card-title {}

.ct1 {
    color: #000;
    font-family: ABeeZee;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
}

.ct2 {
    color: #676767;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 602;
    line-height: 150%;
    /* 24px */
}