@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white: #ffffff;
    --blue: #2F80ED;
    --grey2: #4F4F4F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    font-style: normal;
    font-family: 'ABeeZee', sans-serif;
    background-color: var(--white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header Styling  */

.logo-text {
    color: #012555;
    font-family: Bai Jamjuree;
    font-size: 21.714px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.869px;
}

header {
    /* position: fixed; */
    display: flex;
    flex-direction: column;


}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 108px;
}

.logo {
    display: flex;
    gap: 10px;

    /* padding: 15px; */
}

.logo hr {
    /* height: 32px; */
    background-color: #DADADA;
}

.logo1 {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


.nsdc-logo {
    height: 35px;
}

/* Navbar CSS */

.navbar {
    /* padding: 15px; */
    display: flex;
    /* padding: 15px 36px;
    justify-content: center;
    align-items: center; */
}

.navbar ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login-btn {

    display: flex;
    padding: 15px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 20px;

    border-radius: 8px;
    border: 2px solid var(--primaryskyblue, #2F80ED);

    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);

    color: var(--blue);
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* Next batch starts in */
.banner {
    background-color: var(--blue);
}

.banner p {
    color: #FFF;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    letter-spacing: 0.28px;

    padding: 5px;
    text-align: center;
}

/* Hero Section */

main {
    width: 1440px;
    height: 783px;
    flex-shrink: 0;
}

